.weather {
    min-width: 350px;
    height: 220px;
    border-radius: 20px;
    background: url('/public/sun.jpg') 0 0/cover no-repeat;
}

.weatherContent {
    padding-left: 10px;
    font-family: 'YS Text', Helvetica Neue, Arial, serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.weatherContent h1 {
    font-size: xx-large;
    color:#ecd08d;
}

.blur {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(11px);
    border-radius: 20px;
	min-width: 350px;
    height: 220px;
    display: flex;
}