.App {
    display: flex;
}

.App-content {
    margin: 0 auto;
}

.App-content h2 {
    text-align: left;
    margin-left: 10px;
    color: #fff;
    font-family: 'YS Text', Helvetica Neue, Arial, serif;
}